* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: #f5f6f8;
}

:root {
  --greyLight: #ebebeb;
  --black: 3B434E;
  --white: white;
  --primary: 7653FC;
  --red: FC836D;
  --green: 1DC37El;
  --grenLight: C8F8E4;
  --font-family: "Noto Sans", sans-serif;
}
